../copyenginebeforeedgeLists/
../programs/adjacencyList.pb.h
../programs/adjacencyList.pb.o
../programs/copykpartsbeforeEdgelists
../programs/p2
../programs/p3
../programs/recordtype.pb.h
../programs/recordtype.pb.o
../programs/test10
../programs/test11
../programs/edgeList.pb.h
../copyenginebeforeedgeLists/
adjacencyList.proto
copykpartsbeforeEdgelists
maxmem.sh
outFrd
outLnk
outLnk2
outTwi
recordtype.pb.h
recordtype.pb.o
recordtype.proto
test-0
test-1
test-2
test-3
